@charset "ISO-8859-1";

body {
	background-color: #540B0E;
}

.mnueOptions:hover, .mnueOptions:active {
	background-color: #14868E;
	color: #EDDDD4;
}

button.mnueOptions {
	background-color: #197278;
	color: #EDDDD4;
	padding: 7px 1px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-family: Segoe UI;
	font-size: 20px;
	margin: 0.4% 30% 0.4% 30%;
	width: 17em;
}

input[type=text], input[type=password], input[type=number], input[type=email]
	{
	width: 200px;
	padding: 3px 10px;
	margin: 8px 0;
	box-sizing: border-box;
	font-family: Segoe UI;
	font-size: 15px;
}

select {
	width: 200px;
	padding: 3px 10px;
	margin: 8px 0;
	box-sizing: border-box;
	font-family: Segoe UI;
	font-size: 15px;
}

input[type=button], input[type=submit], input[type=reset] {
	background-color: #197278;
	border: none;
	color: #EDDDD4;
	padding: 3px 30px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-family: Segoe UI;
	font-size: 20px;
}

.formSpan {
	display: inline-block;
	text-align: left;
	color: #EDDDD4;
	font-family: Segoe UI;
	font-size: 20px;
	padding: 2px 10px;
	padding-bottom: 20px;
}

h1.pageName {
	text-align: center;
	color: #EDDDD4;
	font-family: Segoe UI;
	font-size: 40px;
}

hr#topHederLine {
	margin-top: -30px;
	margin-left: 20%;
	margin-right: 20%;
	border: 1px solid #EDDDD4;
	border-radius: 10px;
}

#myinfo {
	text-align: left;
	color: #EDDDD4;
	font-family: Segoe UI;
	font-size: 20px;
}

footer {
	text-align: center;
	clear: both;
	position: relative;
	margin-top: -0px;
	padding-top: 10%;
	font-size: 20px;
	color: #EDDDD4;
}