<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Learners_Academy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Subjects_Servlet</display-name>
    <servlet-name>S_S</servlet-name>
    <servlet-class>Servlets.createSubjectListner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_S</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>S_S</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>S_S</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>S_S</servlet-name>
    <url-pattern>/test_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_Servlet</display-name>
    <servlet-name>L_S</servlet-name>
    <servlet-class>Servlets.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>L_S</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teachers_Servlet</display-name>
    <servlet-name>T_S</servlet-name>
    <servlet-class>Servlets.TeachersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>T_S</servlet-name>
    <url-pattern>/insert_teacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>T_S</servlet-name>
    <url-pattern>/list_teacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>T_S</servlet-name>
    <url-pattern>/delete_teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student_Servlet</display-name>
    <servlet-name>Student_S</servlet-name>
    <servlet-class>Servlets.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student_S</servlet-name>
    <url-pattern>/insert_student</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Student_S</servlet-name>
    <url-pattern>/list_student</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Student_S</servlet-name>
    <url-pattern>/delete_student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Classes_Servlet</display-name>
    <servlet-name>Classes_S</servlet-name>
    <servlet-class>Servlets.ClassesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Classes_S</servlet-name>
    <url-pattern>/insert_class</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Classes_S</servlet-name>
    <url-pattern>/list_classes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Classes_S</servlet-name>
    <url-pattern>/delete_class</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Classes_S</servlet-name>
    <url-pattern>/get_subject_names</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>Classes_S</servlet-name>
    <url-pattern>/class_info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Classes_S</servlet-name>
    <url-pattern>/class_info_refrech</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>TC_Servlet</display-name>
    <servlet-name>TC_S</servlet-name>
    <servlet-class>Servlets.TCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TC_S</servlet-name>
    <url-pattern>/inserst_TC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TC_S</servlet-name>
    <url-pattern>/list_TC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TC_S</servlet-name>
    <url-pattern>/delete_tc</url-pattern>
  </servlet-mapping>
  
</web-app>